#textArea { 
    background-image: none;
    font: 16px "Monospace";
}

#resetButton:active { 
    background-image: none; 
    border-image: none;
    color: red;
    background-color: red;          
}